.menu-button {
  /* position: fixed; */
  z-index: 100;
  right: 30px;
  top: 20px;
  padding: 10px 15px;
  /* background-color: black; */
  background: transparent;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.sidebar-mainbox {
  height: 100vh;
  min-width: 200px;
  background-color: black;
  position: fixed;
  z-index: 50;
  right: 0;
  top: 0;
  bottom: 0;
}

.list-box {
  color: white;
}
.inside-box {
  padding: 50px 0px;
  max-height: 400px;
}
.list-items {
  /* background-color: white; */
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 20px 90px;
  margin: 5px 0px;
  font-weight: 600;
  cursor: pointer;
  overflow-y: auto;
}

.list-items:hover {
  background-color: grey;
}

.last-box {
  display: flex;
  align-items: end;

  position: relative;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 50;
  background: transparent;
  backdrop-filter: blur(60px);
}
.last-inside {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.svgcurver {
  position: absolute;
  top: 0;
  left: -90px;
  width: 100px;
  height: 100%;
  fill: black;
  stroke: none;
}
